.about {
    padding-bottom: 94px;
    padding-top: 94px;
}
.about-list {
    display: flex;
    gap: 30px;
}

.about-item::before {
    display: block;
    content: "";
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;

}

.icon-antenna::before {
    background-image: url(../images/antenna1\(1\).svg);
}

.icon-clock::before {
    background-image: url(../images/clock1\(1\).svg);
}
.icon-diagram::before {
    background-image: url(../images/diagram1.svg);
}

.icon-astronaut::before {
    background-image: url(../images/astronaut\(1\).svg);
}

.about-subtitle {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-title-color);
    padding-top: 30px;
    padding-bottom: 10px;
}
.about-text {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--maine-text-color);

}